<div class="contentcrud">
  
    <mat-card  routerLink="/ingreso/registraingreso">
        <mat-card-content>
          <p>
            Registrar Ingreso
          </p>
        </mat-card-content>
        
      </mat-card>

      <mat-card routerLink="/ingreso/editaingreso">
        <mat-card-content>
          <p>
            Editar Ingreso
          </p>
        </mat-card-content>
        
      </mat-card>
      <mat-card routerLink="/ingreso/listaingresos">
        <mat-card-content>
          <p>
            Listar Ingresos
          </p>
        </mat-card-content>
        
      </mat-card>

      

</div>
<div class="subcrud">
  <router-outlet></router-outlet>
</div>

